
# API env
PORT=3001
API_URL=http://localhost:3001
WEB_URL=http://localhost:5173

BETTER_AUTH_SECRET=mArdNK7qrNr8AVwYcRBTvsmXiECkchUk
BETTER_AUTH_URL=http://localhost:3001

# WEB env
VITE_API_URL=http://localhost:3001

# Shared env
DATABASE_URL="postgresql://postgres:password@localhost:5432/habbit-tracker?schema=public"